:root {
  --button-background: rgb(239, 243, 244);
  --button-background-hover: rgb(215, 219, 220);
  --isFollowing-text: rgb(239, 243, 244);
  --stopFollowing-border: rgb(103, 7, 15);
  --stopFollowing-background: rgb(244, 33, 46, 0.1);
  --stopFollowing-text: rgb(244, 33, 46);
  margin: 5px;
}

button {
  padding: 0px 16px;
  border-radius: 9999px;
  background-color: var(--button-background);
  border: 0;
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
  font-weight: bold;

  &.isFollowing {
    background: transparent;
    border: solid 1px var(--primary-grey);
    color: var(--isFollowing-text)
  }

  &:not(.isFollowing):hover {
    background-color: var(--button-background-hover);
  }

  &.isFollowing:hover {
    border-color: var(--stopFollowing-border);
    background-color: var(--stopFollowing-background);
    color: var(--stopFollowing-text);
  }

  transition: all 0.2s ease;
}